@import url(font-and-colors.css);
@import "home/menu-css.css";
@import "component styles/button-style.css";
body{
    font-size:var(--text-size);
    font-weight: 400;
    line-height: 1.9rem;
    margin: 0;
    padding: 0;
    width: 100vw;
}

